<h3>$parsedPhrase</h3>
<form action='/result' method='post'>
  <div class="form-group">
    <label for="guess">Oh that's easy! It's:</label>
    <input type = "text" class="form-control" id="guess" name="guess">
    <input type="hidden" name="originalPhrase" value="$originalPhrase" >
  </div>
  <button class="btn btn-default" type="submit">Submit</submit>
</form>
