<form action='/guess' method='post'>
  <div class="form-group">
    <label for="phrase">Enter a Phrase:</label>
    <input type= "text" class="form-control" id="phrase" name="phrase">
  </div>
  <button class="btn" type="submit">Submit</submit>
</form>
